#Common config begin
#Size of deployment, values are compact, small, medium, large, itsmcompact and itsmsmall
DEPLOYMENT_SIZE=compact

#Docker registry project details
IMAGE_REGISTRY_PROJECT=bmc
IMAGE_REGISTRY_ORG=lp0lz
CORE_IMAGE_REGISTRY_ORG=lp0lz
IA_IMAGE_REGISTRY_ORG=lp0oz
OPTIMIZE_IMAGE_REGISTRY_ORG=lp0pz
BHOM_IMAGE_REGISTRY_ORG=lp0mz
AIOPS_IMAGE_REGISTRY_ORG=la0cz

#Common config end

#Install mode as fresh or upgrade
INSTALL_MODE=fresh

#Flag controlling infra services installation 
INFRA=yes

#Flag controlling individual infra services installation 
_PTPOSTGRESS=yes
_KAFKA=yes
_REDIS=yes
_RSSO=yes
_VICTORIAMETRICS=yes
_ELASTICSEARCH=yes
_MINIO=yes

# Do not make changes to service flags it will break dependency
#Flag controlling helix dashboard services installation 
HELIX_DASHBOARD_SERVICES=yes

#Flag controlling itsminsight services installation 
ITSMINSIGHT_SERVICES=yes

#Flag controlling aiops services installation 
AIOPS_SERVICES=yes

#Flag controlling monitor product installation
MONITOR=yes

#Flag controlling intelligentintegrations services installation 
INTELLI_INT_SERVICES=yes

#Flag controlling intelligent automation product installation
INTELLIGENT_AUTOMATION=yes

#Flag controlling bmc-helix-logging product installation
BMC_HELIX_LOGGING=yes

#Flag Controlling optimize installation
OPTIMIZE=yes

#Flag AR Services installation
ARSERVICES=yes
